.container {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  max-width: gutter(143);
  margin: 0 auto;

  @include cssLock("padding-left", 360, 1920, (gutter_num(3), gutter_num(2.45)));
  @include cssLock("padding-right", 360, 1920, (gutter_num(3), gutter_num(2.45)));

  @include media("<md") {
    padding-left: 0;
    padding-right: 0;
  }

  &--fluid {
    @include cssLock("padding-left", 360, 1920, (gutter_num(3), gutter_num(5)));
    @include cssLock(
      "padding-right",
      360,
      1920,
      (gutter_num(3), gutter_num(5))
    );

    width: 100%;
    max-width: 100%;
  }
}
