.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: auto;
  height: auto;
  padding: 60px 40px;
  color: #fff;
  background-color: rgba($color: #000, $alpha: 0.4);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid;

  @include media("<md") {
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  @include media("<sm") {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &__close {
    color: #fff;
    font-size: 35px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 0;
    margin: 20px;

    &:hover {
      color: $special;
    }
  }

  &__base {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: gutter(5);
  }

  &__avatar {
    @include cssLock("height", 360, 1920, (gutter_num(35), gutter_num(45)));
    @include cssLock("width", 360, 1920, (gutter_num(30), gutter_num(40)));

    @include media("<=lg") {
      display: none;
    }
  }

  &__img {
    @extend %image;

    object-fit: contain;

    @include media("<=sm") {
      max-height: gutter(20);
    }
  }

  &__content {
    text-align: left;
    width: 500px;

    @include media("<=md") {
      width: 100%;
    }
  }

  &__headline {
    @extend .follow;
    @extend %special;

    font-weight: 600;
    margin-bottom: gutter(2);
    line-height: 1;
    text-transform: uppercase;
  }

  &__name {
    @extend .text;
    @extend %special;

    font-weight: 600;
  }

  &__title {
    @extend .major-text;
    @extend %special;

    font-weight: 600;
    text-align: left;
    display: block;
    text-transform: uppercase;
  }

  &__tableinfo {
    @extend %special;

    text-align: left;
  }

  &__info {
    @extend .text;
    @extend %special;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid $light;

    @include media("<sm") {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }

  &__statistic {
    margin: 0 gutter(5);
    align-self: baseline;

    @include media("<md") {
      align-self: unset;
    }

    @include media("<sm") {
      margin: 0;
    }
  }

  &__caption {
    @extend .subtitle;
    @extend %special;

    font-weight: 600;
    line-height: 1;
    margin-bottom: gutter(4);
    text-transform: uppercase;

    @include media("<sm") {
      margin: gutter(2);
    }
  }

  &__table {
    @extend .follow;
    @extend %special;

    text-align: left;

    td {
      padding: gutter(0.8) gutter(1);
    }

    tr {
      border-bottom: 1px solid red;
    }
  }

  &__pool {
    @extend .follow;
    @extend %special;

    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    width: 100%;

    @include media("<sm") {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__spec {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }

  &__desc {
    padding: 0 gutter(1);
    margin: 0;

    @include media("<=md") {
      padding: 0 gutter(1);
      margin: 0;
    }
  }

  &__pt {
    color: $light;
    font-weight: 800;
    padding: 0 gutter(1);

    @include media("<=md") {
      padding: 0 gutter(1);
      margin: 0;
    }
  }
}
