.footer {
  $root: &;

  height: 100vh !important;
  position: relative;
  margin-bottom: gutter(2);

  &--white {
    background-color: $light;
  }

  &--black {
    background-color: $black;
  }

  &__wrapper {
    margin: gutter(4) 0;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__follow {
    @extend %special;
    @extend .follow;

    margin: gutter(3) 0 0 0;
    letter-spacing: gutter(0.5);
    font-weight: 600;
    color: $light;
    text-align: center;
  }

  &__social {
    margin: gutter(2) 0;
  }

  &__icon {
    font-size: gutter(4) !important;
  }

  &__text {
    @extend %special;
    @extend .small-title;

    letter-spacing: gutter(0.5);
    font-weight: 300;
    color: $light;
  }

  &__right {
    @extend %special;
    @extend .minor-text;

    text-align: center;
    font-weight: 300;
    letter-spacing: gutter(0.5);
    color: $light;
    margin: gutter(2) 0;
  }

  &__logo {
    margin: gutter(3) 0 0 0;
    width: 100px;
  }

  &__brand {
    margin: gutter(1) 0;
    width: gutter(40);
  }

  &__image {
    @extend %image;
  }
}
