.gallery {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: gutter(1);
  margin: 0;
  padding: 0;

  @include media("<=md") {
    grid-template-columns: 1fr 1fr;
  }

  &__imagewrapper {
    height: gutter(15);
  }

  &__image {
    @extend %image;
  }
}
