.header {
  $root: &;

  color: $light;
  text-transform: uppercase;
  width: 100%;
  z-index: 400;
  transition: visibility 0.1s, opacity 0.4s ease-in-out;
  transition-delay: visibility 0, opacity 1.5s;
  position: absolute;
  top: 0;
  padding: gutter(0.5);
  //overflow: hidden;

  @include media("<lg") {
    position: fixed;
  }

  &--noabsolute {
    position: relative;
  }

  &--hide {
    background: $black;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media("<=lg") {
      justify-content: flex-end;
    }
  }

  &__brand-wrapper {
    z-index: 40;

    @include media("<=sm") {
      display: none;
    }
  }

  &__brand {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: gutter(11);
    height: gutter(11);

    img {
      max-width: 100%;
    }

    @include media("<=lg") {
      width: gutter(10);
      height: gutter(10);
    }

    @include media("<=md") {
      width: gutter(8);
      height: gutter(8);
    }

    &--mobile {
      display: none;

      @include media("<=md") {
        display: block;
      }

      @include media("<=lg") {
        width: gutter(10);
        height: gutter(10);
      }

      @include media("<=xs") {
        width: gutter(5);
        height: gutter(5);
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__hamburger {
    z-index: 40;
    margin-left: gutter(2);

    @include media(">=lg") {
      display: none;
    }
  }

  &__button {
    margin-right: gutter(1.5);
    display: flex;
    align-items: center;

    &--mobile {
      display: none;

      @include media("<=lg") {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: gutter(5) auto 0;

        a {
          margin: gutter(1);

          i {
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    @include media("<=lg") {
      display: none;
    }
  }

  &__icon {
    color: $light;
    font-size: gutter(4.7);
    margin-right: gutter(2);
    display: block;
    text-decoration: none;

    &:hover {
      color: $light;
      text-decoration: none;
    }
  }

  &__wrapmenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    width: 100%;
    max-width: 0;
    height: 100vh;
    background-color: $black;
    z-index: 10;
    transition: $transition;
    overflow: auto;

    @include media("<=sm") {
      width: 50%;
    }

    @include media(">lg") {
      position: relative;
      right: 0;
      height: auto;
      border: 0;
      max-width: 100%;
      flex-direction: row;
      background-color: transparent;
      padding: 0 15px;
      overflow: initial;
    }

    .menu-item {
      @extend %text;
      @extend %special;

      padding: $gutter 0;
      position: relative;
      color: $light;

      @include media(">=lg") {
        padding: 0 gutter(1);
        color: $light;

        // &:first-child {
        //   padding-left: 0;
        // }

        // &:last-child {
        //   padding-right: 0;
        // }
      }

      &:hover {
        color: $special;

        @include media(">=lg") {
          .sub-menu {
            display: block;
          }
        }
      }

      a {
        padding: $gutter 0;
        white-space: nowrap;
        opacity: 0;

        @include media(">=lg") {
          padding: gutter(1) gutter(2);
          opacity: 1;
        }
      }

      &.current-menu-item,
      &.current-menu-ancestor {
        position: relative;
        color: $light;

        &:hover {
          color: $special;
        }

        @include media(">=lg") {
          color: $light;
        }

        .current_page_item {
          background: $light;
        }
      }
    }

    &.-is-active {
      max-width: 50vw;
      padding: 0 15px;
      z-index: 30;

      &::before {
        opacity: 0.8;
      }

      a {
        opacity: 1;
      }
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: gutter(10) 0 0;
    margin: 0;
    align-items: center;

    @include media(">=lg") {
      padding: 0;
      flex-direction: row;
    }
  }
}
