.posts {
  padding-top: gutter(10);
  background-color: #f5f6f6;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    background-image: url("../images/A3X3_LOGO_BG_GHOST.png");
    background-size: 40%;
    background-position: 50% 25%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  &__date {
    @extend %special;
    @extend .text;

    font-weight: 400;
    width: 30%;
    background-color: $special;
    color: $light;
    margin-bottom: gutter(5);
  }

  &__title {
    @extend %special;
    @extend .title;

    font-weight: 400;
    color: $black;
  }
}
