.sponsor {
  $root: &;

  &__wrapper {
    width: 100%;
    margin: 40px 0;
  }

  &__contain {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__carousel {
    width: 100%;
    border-radius: 15px;
  }

  &__cell {
    width: 45%;
    background-color: $black;
    transition: transform 0.4s ease;
    display: flex;
    align-items: center;
    height: gutter(70);

    @include media("<=xl") {
      height: gutter(60);
    }

    @include media("<=lg") {
      height: gutter(60);
    }

    @include media("<=md") {
      width: 50%;
      height: gutter(50);
    }

    @include media("<=sm") {
      width: 100%;
      height: gutter(60);
    }

    &:hover {
      transform: scale(1.03);

      @include media("<=sm") {
        transform: scale(1);
      }
    }
  }

  &__cellcontent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 gutter(3.5);
    position: relative;

    @include media("<=lg") {
      margin: 0 gutter(2.5);
    }

    @include media("<md") {
      margin: 0 gutter(5.5);
    }

    @include media("<sm") {
      margin: 0 gutter(1.5);
    }
  }

  &__imgwrapper {
    background-color: $light;
    transition: 0.3s ease;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: gutter(5);

    @include cssLock("height", 360, 1920, (gutter_num(15), gutter_num(20)));

    @include media("<=sm") {
      margin-top: gutter(2);
    }
  }

  &__button {
    @extend %special;
    @extend .minor-text;

    padding: gutter(1) gutter(2);
    background: $light;
    border-radius: 15px;

    &:hover {
      transform: scale(1.05);
    }

    @include media("<=sm") {
      margin-top: gutter(1);
    }
  }

  &__title {
    @extend %special;
    @extend .major-text;

    margin: 20px 0 0 0;
    font-weight: 700;
    color: $light;
  }

  &__text {
    @extend %special;
    @extend .minor-text;

    font-weight: 400;
    color: $light;

    @include media("<=sm") {
      margin: 0;
    }
  }

  &__img {
    @extend %image;

    object-fit: contain;

    @include media(">=sm") {
      max-height: gutter(10);
    }
  }

  .flickity-button {
    color: $special;
    border: 0;
  }
}
