/* stylelint-disable */

/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

// COLORS
$light: #fff;
$dark: #464646;
$black: #000;
$special: #d2ab31;
$special-dark: #32315c;
$grey: #a7a7a7;
$grey-dark: #464646;

// END COLORS

$breakpoints: (
  "xs": 576px,
  "sm": 768px,
  "md": 992px,
  "lg": 1280px,
  "xl": 1440px,
);

$transition: 0.4s;

$font-family: (
  main: "Open Sans",
  special: "Sarpanch",
);

$gutter: 10px;
$gutter_num: 10;

$z-index: (
  header: 100,
  preloader: 300,
);
