.fp-viewing-Kalendarz {
  transition: all 1.1s ease-out !important;

  .header {
    opacity: 0 !important;
    visibility: hidden !important;

    @include media("<=lg") {
      opacity: 1 !important;
      visibility: visible !important;
    }
  }

  #fp-nav ul li a span,
  .fp-slidesNav {
    background: $light !important;
    border: $black solid 1px;
  }

  .fp-tooltip {
    @extend %special;

    font-size: 50px !important;
    color: $light !important;
  }
}
