#fp-nav ul li:hover .fp-tooltip {
  opacity: 0 !important;
}

#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.7s ease-out !important;
  transition: opacity 0.7s ease-out !important;
}

.fp-slidesNav ul li a,
#fp-nav ul li a {
  height: unset !important;
}
